# Note, this *only* works for observing things in the future. Dealing with the pointing corrections in the analysis is not supported here.

# Set your observing times here

In [1]:
from datetime import datetime
tstart = '2017-06-18T00:00:00'
tend = '2017-06-20T00:00:00'
 
# Turn these into datetime objects

tstart = datetime.strptime(tstart, '%Y-%m-%dT%H:%M:%S')
tend = datetime.strptime(tend, '%Y-%m-%dT%H:%M:%S')

# Step 1, get the nominal RA/Dec Position for Jupiter at the start

In [2]:
from skyfield.api import Loader
from astropy.time import Time
import astropy.units as u

load = Loader('../data')

ts = load.timescale()
planets = load('de436.bsp')



astro_time = Time(tstart)
t = ts.from_astropy(astro_time)
moon, earth = planets['moon'], planets['earth']
astrometric = earth.at(t).observe(moon)
ra, dec, distance = astrometric.radec()

print(ra.to(u.deg), dec.to(u.deg))

print(tstart.timetuple().tm_year, tstart.timetuple().tm_yday)
print(tend.timetuple().tm_year, tend.timetuple().tm_yday)

4.138163799997848 deg -1.5885159399247324 deg
2017 169
2017 171

# Step 2: Go run the code that figured out the unocculted periods for the RA/Dec and the date range reported above.

This works on lif. There are example shell scripts in ./orbit_engine that use the version that Karl already compiled for the nuops users.

Do:

`./get_latest_TLE.sh`

adjust the

`run_jupiter_test.sh`

script appropriately, then

`./run_jupiter_test.sh`

Check in the resulting jupiter occultation file into the repo, push it here, and them start below.

# Step 3: Parse the resulting occultation file:

In [3]:
file = '../orbit_engine/moon_169_171.occ'
from lunar_planning import *
import lunar_planning
import importlib
importlib.reload(lunar_planning)
orbits = lunar_planning.parse_occ(file)
orbits

                visible             occulted
0   2017-06-18 01:11:22  2017-06-18 02:07:15
1   2017-06-18 02:48:02  2017-06-18 03:43:55
2   2017-06-18 04:24:41  2017-06-18 05:20:35
3   2017-06-18 06:01:21  2017-06-18 06:57:15
4   2017-06-18 07:38:01  2017-06-18 08:33:54
5   2017-06-18 09:14:41  2017-06-18 10:10:34
6   2017-06-18 10:51:20  2017-06-18 11:47:14
7   2017-06-18 12:28:00  2017-06-18 13:23:54
8   2017-06-18 14:04:40  2017-06-18 15:00:33
9   2017-06-18 15:41:20  2017-06-18 16:37:13
10  2017-06-18 17:17:59  2017-06-18 18:13:53
11  2017-06-18 18:54:39  2017-06-18 19:50:33
12  2017-06-18 20:31:19  2017-06-18 21:27:12
13  2017-06-18 22:07:59  2017-06-18 23:03:52
14  2017-06-18 23:44:38  2017-06-19 00:40:32
15  2017-06-19 01:21:18  2017-06-19 02:17:12
16  2017-06-19 02:57:58  2017-06-19 03:53:51
17  2017-06-19 04:34:38  2017-06-19 05:30:31
18  2017-06-19 06:11:18  2017-06-19 07:07:11
19  2017-06-19 07:47:57  2017-06-19 08:43:51
20  2017-06-19 09:24:37  2017-06-19 10:20:30
21  2017-06-19 11:01:17  2017-06-19 11:57:10
22  2017-06-19 12:37:57  2017-06-19 13:33:50
23  2017-06-19 14:14:36  2017-06-19 15:10:30
24  2017-06-19 15:51:16  2017-06-19 16:47:09
25  2017-06-19 17:27:56  2017-06-19 18:23:49
26  2017-06-19 19:04:36  2017-06-19 20:00:29
27  2017-06-19 20:41:15  2017-06-19 21:37:09
28  2017-06-19 22:17:55  2017-06-19 23:13:49

# Use SkyField to get the location of the Moon for each orbit:

In [34]:
importlib.reload(lunar_planning)

from datetime import timedelta
buffer = timedelta(minutes=5)

for ind, orbit in orbits.iterrows():
    tstart = orbit['visible'].to_pydatetime() + buffer
    print(tstart, ' to ', tend)
    tend = orbit['occulted'].to_pydatetime() - buffer

    print(tstart.year, tstart.isoformat())
    
    
#    lunar_planning.get_lunar_radec(tstart, tend,
#                                   parallax_correction=True,
#                                   load_path='../data', steps = 5,
#                                   outfile='lunar_pointing_orbit{}.txt'.format(ind))
    
    
    
#lunar_planning.get_jupiter_radec(orbits, load_path = '../data', outfile='jupiter_169_171_pointing.txt',
#                                   parallax_correction=True)

2017-06-18 01:16:22  to  2017-06-19 23:08:49
2017 2017-06-18T01:16:22
2017-06-18 02:53:02  to  2017-06-18 02:02:15
2017 2017-06-18T02:53:02
2017-06-18 04:29:41  to  2017-06-18 03:38:55
2017 2017-06-18T04:29:41
2017-06-18 06:06:21  to  2017-06-18 05:15:35
2017 2017-06-18T06:06:21
2017-06-18 07:43:01  to  2017-06-18 06:52:15
2017 2017-06-18T07:43:01
2017-06-18 09:19:41  to  2017-06-18 08:28:54
2017 2017-06-18T09:19:41
2017-06-18 10:56:20  to  2017-06-18 10:05:34
2017 2017-06-18T10:56:20
2017-06-18 12:33:00  to  2017-06-18 11:42:14
2017 2017-06-18T12:33:00
2017-06-18 14:09:40  to  2017-06-18 13:18:54
2017 2017-06-18T14:09:40
2017-06-18 15:46:20  to  2017-06-18 14:55:33
2017 2017-06-18T15:46:20
2017-06-18 17:22:59  to  2017-06-18 16:32:13
2017 2017-06-18T17:22:59
2017-06-18 18:59:39  to  2017-06-18 18:08:53
2017 2017-06-18T18:59:39
2017-06-18 20:36:19  to  2017-06-18 19:45:33
2017 2017-06-18T20:36:19
2017-06-18 22:12:59  to  2017-06-18 21:22:12
2017 2017-06-18T22:12:59
2017-06-18 23:49:38  to  2017-06-18 22:58:52
2017 2017-06-18T23:49:38
2017-06-19 01:26:18  to  2017-06-19 00:35:32
2017 2017-06-19T01:26:18
2017-06-19 03:02:58  to  2017-06-19 02:12:12
2017 2017-06-19T03:02:58
2017-06-19 04:39:38  to  2017-06-19 03:48:51
2017 2017-06-19T04:39:38
2017-06-19 06:16:18  to  2017-06-19 05:25:31
2017 2017-06-19T06:16:18
2017-06-19 07:52:57  to  2017-06-19 07:02:11
2017 2017-06-19T07:52:57
2017-06-19 09:29:37  to  2017-06-19 08:38:51
2017 2017-06-19T09:29:37
2017-06-19 11:06:17  to  2017-06-19 10:15:30
2017 2017-06-19T11:06:17
2017-06-19 12:42:57  to  2017-06-19 11:52:10
2017 2017-06-19T12:42:57
2017-06-19 14:19:36  to  2017-06-19 13:28:50
2017 2017-06-19T14:19:36
2017-06-19 15:56:16  to  2017-06-19 15:05:30
2017 2017-06-19T15:56:16
2017-06-19 17:32:56  to  2017-06-19 16:42:09
2017 2017-06-19T17:32:56
2017-06-19 19:09:36  to  2017-06-19 18:18:49
2017 2017-06-19T19:09:36
2017-06-19 20:46:15  to  2017-06-19 19:55:29
2017 2017-06-19T20:46:15
2017-06-19 22:22:55  to  2017-06-19 21:32:09
2017 2017-06-19T22:22:55