# Note, this *only* works for observing things in the future. Dealing with the pointing corrections in the analysis is not supported here.

# Set your observing times here

In [1]:
from datetime import datetime
tstart = '2017-06-18T00:00:00'
tend = '2017-06-20T00:00:00'
 
# Turn these into datetime objects

tstart = datetime.strptime(tstart, '%Y-%m-%dT%H:%M:%S')
tend = datetime.strptime(tend, '%Y-%m-%dT%H:%M:%S')

# Step 1, get the nominal RA/Dec Position for Jupiter at the start

In [2]:
from skyfield.api import Loader
from astropy.time import Time
import astropy.units as u

load = Loader('../data')

ts = load.timescale()
planets = load('de436.bsp')



astro_time = Time(tstart)
t = ts.from_astropy(astro_time)
moon, earth = planets['moon'], planets['earth']
astrometric = earth.at(t).observe(moon)
ra, dec, distance = astrometric.radec()

print(ra.to(u.deg), dec.to(u.deg))

print(tstart.timetuple().tm_year, tstart.timetuple().tm_yday)
print(tend.timetuple().tm_year, tend.timetuple().tm_yday)

[#################################] 100% deltat.data
[#################################] 100% deltat.preds
[#################################] 100% Leap_Second.dat
[#################################] 100% de436.bsp

4.138163799997848 deg -1.5885159399247324 deg
2017 169
2017 171

# Step 2: Go run the code that figured out the unocculted periods for the RA/Dec and the date range reported above.

This works on lif. There are example shell scripts in ./orbit_engine that use the version that Karl already compiled for the nuops users.

Do:

`./get_latest_TLE.sh`

adjust the

`run_jupiter_test.sh`

script appropriately, then

`./run_jupiter_test.sh`

Check in the resulting jupiter occultation file into the repo, push it here, and them start below.

# Step 3: Parse the resulting occultation file:

In [7]:
file = '../orbit_engine/jupiter_169_171.occ'
from jupiter_planning import *
import jupiter_planning
import importlib
importlib.reload(jupiter_planning)
orbits = jupiter_planning.parse_occ(file)
orbits

                visible             occulted
0   2017-06-18 00:25:18  2017-06-18 01:21:08
1   2017-06-18 02:01:58  2017-06-18 02:57:47
2   2017-06-18 03:38:38  2017-06-18 04:34:27
3   2017-06-18 05:15:17  2017-06-18 06:11:07
4   2017-06-18 06:51:57  2017-06-18 07:47:46
5   2017-06-18 08:28:37  2017-06-18 09:24:26
6   2017-06-18 10:05:16  2017-06-18 11:01:06
7   2017-06-18 11:41:56  2017-06-18 12:37:45
8   2017-06-18 13:18:36  2017-06-18 14:14:25
9   2017-06-18 14:55:15  2017-06-18 15:51:05
10  2017-06-18 16:31:55  2017-06-18 17:27:44
11  2017-06-18 18:08:34  2017-06-18 19:04:24
12  2017-06-18 19:45:14  2017-06-18 20:41:04
13  2017-06-18 21:21:54  2017-06-18 22:17:43
14  2017-06-18 22:58:33  2017-06-18 23:54:23
15  2017-06-19 00:35:13  2017-06-19 01:31:03
16  2017-06-19 02:11:53  2017-06-19 03:07:42
17  2017-06-19 03:48:32  2017-06-19 04:44:22
18  2017-06-19 05:25:12  2017-06-19 06:21:02
19  2017-06-19 07:01:52  2017-06-19 07:57:41
20  2017-06-19 08:38:31  2017-06-19 09:34:21
21  2017-06-19 10:15:11  2017-06-19 11:11:01
22  2017-06-19 11:51:51  2017-06-19 12:47:40
23  2017-06-19 13:28:30  2017-06-19 14:24:20
24  2017-06-19 15:05:10  2017-06-19 16:01:00
25  2017-06-19 16:41:49  2017-06-19 17:37:39
26  2017-06-19 18:18:29  2017-06-19 19:14:19
27  2017-06-19 19:55:09  2017-06-19 20:50:59
28  2017-06-19 21:31:48  2017-06-19 22:27:38

# Use SkyField to get the location of Jupiter for each orbit:

In [6]:
jupiter_planning.get_jupiter_radec(orbits, load_path = '../data', outfile='jupiter_169_171_pointing.txt', parallax_correction=True)

Total accumualted time 97139.0